<!--
     title: Bodmin Road Runners
     description: A website dedicated to Bodmin Road Runners
-->
<header class="wrap-polygons ar-intro-product">

<img src="assets/img/BRR-HEADER-2017.jpg" href="https://www.facebook.com/BodminRoadRunners" width="1200" class="aligncenter" alt="Bodmin Road Runners Logo and Bodmin Background" />

        <div class="container">
            <h2 class="right-line">
              Club History
            </h2>
            <p>Bodmin Road Runners started out on Sunday 15th January 2012, under the direction of coach Dave Grant. The aim was to fill the void of a lack of a unisex running club in Bodmin itself, and provide a club for people to be able to train seriously for events, and also just simply to have fun and keep fit.</p>

            <p>For several years the local talent had been escaping to neighboring towns to join their running clubs, and this simply was a great shame for Bodmin. This issue was partly filled by Bodmin Woman's Running Club, but as the name suggests, this didn't cater for men. Hence, Bodmin Road Runners (BRR) was born and whatever the reason you enjoy running, we will be there to support you at every step.</p>
              
            <p>We pride ourselves on being an open and friendly club, if you need a lift to training or an event, want some help or friendly advice please just ask.</p>

            <p>The BRR Committee.</p>

        </div>
</header>
