<!--
     title: Bodmin Road Runners
     description: A website dedicated to Bodmin Road Runners
-->
<header class="wrap-polygons ar-intro-product">

<img src="assets/img/BRR-HEADER-2017.jpg" href="https://www.facebook.com/BodminRoadRunners" width="1200" class="aligncenter" alt="Bodmin Road Runners Logo and Bodmin Background" />

        <div class="container">
            <h2 class="right-line">
              Join the club
            </h2>
        <p>Joining BRR couldn't be any easier, just turn up and give it a go.</p>

        <p>You can run with us for a couple of weeks (we think four is about right to make up your mind) to see if group running is your thing, with no obligation to join.</p>

        <p>If you feel that BRR or running as a group isn't what you were looking for then we will wish you the best with your solo pursuits. If however, you find you enjoy the club atmosphere, then you can sign up and become a member.</p>

        <p>The club is affiliated with England Athletics (7692228), so members will have a personal affiliation number and be affiliated to the club. This affiliation amongst other things entitles you to the discounted rate of most races, and also covers you for insurance whilst out running with the club. Also included in the membership is a small one off subscription charge to help cover the cost or running the club.</p>

        <p>Download the membership form here: <a href="/assets/Membership-Form.pdf" target="_blank">Membership Form</a></p>

        <p>For further information please get in touch via our <a href="https://www.facebook.com/BodminRoadRunners" target="_blank">Facebook Page</a> or speak to one of our members who can often be found at our local, Lanhydrock <a href="https://www.parkrun.org.uk/lanhydrock" target="_blank">parkrun</a></p>

        </div>
</header>
