<!--
     title: Bodmin Road Runners
     description: A website dedicated to Bodmin Road Runners
-->
<header class="wrap-polygons ar-intro-product">

<img src="assets/img/BRR-HEADER-2017.jpg" href="https://www.facebook.com/BodminRoadRunners" width="1200" class="aligncenter" alt="Bodmin Road Runners Logo and Bodmin Background" />

        <div class="container">
            <h2 class="right-line">
              parkrun
            </h2>
              
            <p>Our local <a href="https://www.parkrun.org.uk/lanhydrock/" target="_blank">parkrun</a> is at Lanhydrock. It's quite common to find Bodmin Road Runner club members there so come along for a run and a chat.</p>

        </div>
</header>
