<!--
     title: Bodmin Road Runners
     description: A website dedicated to Bodmin Road Runners
-->
<header class="wrap-polygons ar-intro-product">

<img src="assets/img/BRR-HEADER-2017.jpg" href="https://www.facebook.com/BodminRoadRunners" width="1200" class="aligncenter" alt="Bodmin Road Runners Logo and Bodmin Background" />

        <div class="container">

            <h2 class="right-line">
              We are a sociable club
            </h2>

        <p>Motivation to put your running shoes on and get out the door isn't always there, but we're a pretty sociable bunch, and running with other people and/or friends is a great way to make longer distances more enjoyable, if that's what you want to do. So whether or not you want to organize an impromptu run with some other members, or just want to see what everyone else is up to, read on below for some ideas on how to join in at BRR and get all sociable.</p>

        <p>If you like what we do, tell your friends!!  If you don't like what we do, please tell us!!</p>

        <p>Following is a brief intro to some ways in which we encourage members to engage with, in pursuit of a more social running experience, if that is what you are looking for.  We don't spend all day sat in front of a phone/computer, we also go to the pub and have the occasional tipple..</p>

        <p>These days GPS devices are increasingly ubiquitous, and are a great motivational tool for keeping track of your training progress, and recording your performances generally.</p>

        <p>Most club members are probably running with a Garmin or similar GPS watch, you don't have to spend silly money, and the more keen members often have older watches going begging to anyone interested, so ask around for some recommendations.</p>

            <h2 class="right-line">
              Facebook
            </h2>
              
            <p>Bodmin Road Runners use their <a href="https://www.facebook.com/BodminRoadRunners" target="_blank">Facebook Page</a> to keep everyone up to date. Please visit it for more information about the club.</p>

            <p>We also have a <a href="https://www.facebook.com/groups/BRRevents/" target="_blank">Facebook group closed to the public</a>, which members are encouraged to join, this is where things like lifts to events and last minute changes to plans are often announced.</p>

            <h2 class="right-line">
              Strava
            </h2>
              
            <p>Strava is an increasingly popular means of sharing your activites with the world, it can be social or competitive, it's entirely up to you.</p>

             <p>There are a number of features available which include the ability to search the database for routes and athletes. The site software provides a ranking of times on specific routes, including top male and female performance. Top performers are deemed KOM and QOM for King and Queen of the Mountain. There is ability to comment on, and give accolades on, performances. However, activities can be kept private and therefore kept unseen by other members. Depending on map zoom level, the most popular routes will be displayed on geographical search.</p>

              <p>You can join our Strava group <a href="https://www.strava.com/clubs/bodminroadrunners" target="_blank">https://www.strava.com/clubs/bodminroadrunners</a></p>
        </div>
</header>
