<!--
     title: Bodmin Road Runners
     description: A website dedicated to Bodmin Road Runners
-->
<header class="wrap-polygons ar-intro-product">

<img src="assets/img/BRR-HEADER-2017.jpg" href="https://www.facebook.com/BodminRoadRunners" width="1200" class="aligncenter" alt="Bodmin Road Runners Logo and Bodmin Background" />

        <div class="container">
            <h2 class="right-line">
              Training
            </h2>
            <p>Club training is typically a technical hill, speed session on a Tuesday, a steady 3-5-8 mile club run on a Thursday depending on what folks want to do, and Sunday mornings for the longer distance training. Each club training session caters for beginners to established athletes.</p>
              
            <p>You will need to visit our <a href="https://www.facebook.com/BodminRoadRunners">Facebook Page</a> to find out more about the training schedule.</p>

            <h2 class="right-line">
              Coaching
            </h2>
            <p>Part of belonging to a club is to have access to help and encouragement in order to improve your running ability. This may come from other members, the Run Leaders or from a club coach.</p>
              
            <p>The primary role for a coach is to train members for peak performance, of whatever abilty. This comes from helping club members learn and practice the skills of running. This may include general advice on running fitness; managing form; mental toughness, injury prevention and management. It may be done as part of a group or, specifically for an individual.</p>

            <p>There are many and varying needs within the club group. You may be a beginner and need advice on how to start a running programme, or an established athlete who is training for a specific event. Many people are between the two and want overall guidance for their running.</p>

            <p>Whatever your needs, a discussion about what you want to achieve is important. It is often the case that runners just run without much thought of goals. The coaches' role is to help with these goals - remember:</p>

            <h2 class="right-line">
              Plan - Do - Review
            </h2>
            <p>Knowledge of how your body works is an essential part of being an athlete. This doesn't need to be highly technical (although it could be if that's what is wanted). Rather, the principles in running of energy systems, physiology, psychology, diet and nutrition can help you perform better. Coaching includes this. The compiling of training programmes is included too. Incorporated in the role of the coach are athlete welfare, safe practice and helping members to overcome particular difficulties. This can be confidential if necessary.</p>
              
            <p>Most introductions to running recommend you keep a training diary, one of the easier ways of doing this is by recording your runs via a GPS watch or even on your phone, have a chat with other club members for recommendations, Garmin seems very popular.</p>

            <p>Finally, the mentoring and development of Run Leaders and prospective coaches is an important part of the growth of the club and the coach will play a part in this.</p>

            <p>Part of your membership fee is to pay for coaching help and advice.</p>

            <p>Happy running.</p>

        </div>
</header>
